<nav class="fh5co-nav-style-1  wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
<div class="container" ng-init="checkForLogged()">
	<div class="col-lg-3 col-md-3 col-sm-3 fh5co-logo">
		<a href="#/" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
		<a href="#/">Sprint Up</a>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 text-right fh5co-link-wrap">
		<ul class="fh5co-special" data-offcanvass="yes">
			<li><a href="#/login" ng-click="loginToggle()">{{isLogged?'Logout':'Login'}}</a></li>
			<li><a href="" class="call-to-action" ng-click="postingJobToggle()">Pasang Lowongan</a></li>
		</ul>
	</div>
</div>
</nav>


<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/intro-bg.jpg);">
	<span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
	<a href="#/">
		<span class="mouse"><span></span></span>
	</a>
</span>
<div class="fh5co-overlay"></div>
<div class="fh5co-cover-text">
	<div class="container">
		<div class="row  wow fadeInUp" data-wow-duration="1s" >
			<div class="col-md-8 full-height js-full-height">
				<div class="fh5co-cover-intro">
					<h1 class="cover-text-lead" >Temukan pekerjaan yang Anda idamkan</h1>
					<div class="row">
						<div class="col-md-6"> <input ng-model="search.keyword" type="text" class="form-control" placeholder="Judul, posisi atau perusahaan..."></div>
						<div class="col-md-4"><input ng-model="search.location" id="list-kota" class="form-control" placeholder="Lokasi..."/></div>
						<div class="col-md-2"><a ng-click="cari2(search)" href="#/" class="btn btn-primary btn-outline btn-md">Cari</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</div>
<script type="text/javascript">
	 var input = document.getElementById("list-kota");
	new Awesomplete(input, {
	  list: ["DKI Jakarta", "Jakarta Pusat", "Jakarta Barat", "Jakarta Selatan", "Jakarta Timur", "Jakarta Utara", "Kepulauan Seribu", "Banten", "Tangerang", "Tangerang Selatan", "Serang", "Pandeglang", "Lebak", "Cilegon", "Jawa Barat", "Bogor", "Depok", "Bekasi", "Bandung", "Bandung Barat", "Cimahi", "Purwakarta", "Subang", "Karawang", "Sukabumi", "Cianjur", "Garut", "Cirebon", "Indramayu", "Sumedang", "Majalengka", "Kuningan", "Tasikmalaya", "Ciamis", "Pangandaran", "Banjar", "Sumatera Utara", "Medan", "Deli Serdang", "Tebing Tinggi", "Binjai", "Langkat", "Serdang Bedagai", "Pematang Siantar", "Simalungun", "Asahan", "Batu Bara", "Tanjung Balai", "Labuhan Batu", "Labuhan Batu Utara", "Labuhan Batu Selatan", "Karo", "Dairi", "Pakpak Bharat", "Toba Samosir", "Samosir", "Tapanuli Utara", "Humbang Hasundutan", "Sibolga", "Tapanuli Tengah", "Padang Sidempuan", "Tapanuli Selatan", "Padang Lawas Utara", "Padang Lawas", "Gunungsitoli", "Nias Barat", "Nias Utara", "Nias", "Nias Selatan", "Mandailing Natal", "Nanggroe Aceh Darussalam (NAD)", "Banda Aceh", "Aceh Besar", "Sabang", "Aceh Barat", "Aceh Jaya", "Nagan Raya", "Aceh Selatan", "Aceh Barat Daya", "Simeulue", "Pidie", "Pidie Jaya", "Bireuen", "Lhokseumawe", "Aceh Utara", "Langsa", "Aceh Timur", "Aceh Tamiang", "Aceh Tengah", "Bener Meriah", "Aceh Tenggara", "Gayo Lues", "Subulussalam", "Aceh Singkil", "Sumatera Barat", "Padang", "Kepulauan Mentawai", "Pariaman", "Padang Pariaman", "Pesisir Selatan", "Bukittinggi", "Agam", "Payakumbuh", "Lima Puluh Koto/kota", "Pasaman", "Pasaman Barat", "Padang Panjang", "Tanah Datar", "Solok", "Sawah Lunto", "Sijunjung (SAWAH Lunto Sijunjung)", "Dharmasraya", "Solok Selatan", "Riau", "Pekanbaru", "Pelalawan", "Kampar", "Rokan Hulu", "Siak", "Bengkalis", "Kepulauan Meranti", "Dumai", "Rokan Hilir", "Indragiri Hilir", "Indragiri Hulu", "Kuantan Singingi", "Kepulauan Riau", "Tanjung Pinang", "Bintan", "Batam", "Karimun", "Natuna", "Kepulauan Anambas", "Lingga", "Sumatera Selatan", "Palembang", "Ogan Komering Ilir", "Ogan Ilir", "Musi Banyuasin", "Musi Rawas", "Banyuasin", "Prabumulih", "Muara Enim", "Lahat", "Empat Lawang", "Pagar Alam", "Lubuk Linggau", "Ogan Komering ULU", "Ogan Komering ULU Timur", "Ogan Komering ULU Selatan", "Bangka Belitung", "Pangkal Pinang", "Bangka", "Bangka Barat", "Belitung", "Belitung Timur", "Bangka Tengah", "Bangka Selatan", "Lampung", "Metro", "Lampung Tengah", "Lampung Timur", "Tulang Bawang Barat", "Lampung Utara", "Tulang Bawang", "Mesuji", "WAY Kanan", "Lampung Barat", "Pesisir Barat", "Bandar Lampung", "Lampung Selatan", "Pesawaran", "Pringsewu", "Tanggamus", "Jambi", "Jambi", "Muaro Jambi", "Tanjung Jabung Barat", "Tanjung Jabung Timur", "Batang Hari", "Sungaipenuh", "Kerinci", "Bungo", "Tebo", "Merangin", "Sarolangun", "Bengkulu", "Bengkulu", "Bengkulu Utara", "Bengkulu Tengah", "Bengkulu Selatan", "Muko Muko", "Seluma", "Kaur", "Rejang Lebong", "Lebong", "Kepahiang", "Jawa Tengah", "Semarang", "Salatiga", "Pekalongan", "Batang", "Kendal", "Tegal", "Brebes", "Pemalang", "Banyumas", "Cilacap", "Purbalingga", "Banjarnegara", "Purworejo", "Kebumen", "Magelang", "Temanggung", "Wonosobo", "Surakarta (SOLO)", "Sukoharjo", "Karanganyar", "Sragen", "Boyolali", "Klaten", "Wonogiri", "Grobogan", "Blora", "Pati", "Rembang", "Kudus", "Jepara", "Demak", "DI Yogyakarta", "Yogyakarta", "Bantul", "Sleman", "Kulon Progo", "Gunung Kidul", "Jawa Timur", "Surabaya", "Gresik", "Sidoarjo", "Mojokerto", "Jombang", "Bojonegoro", "Lamongan", "Tuban", "Madiun", "Magetan", "Ngawi", "Ponorogo", "Pacitan", "Kediri", "Nganjuk", "Malang", "Batu", "Blitar", "Tulungagung", "Trenggalek", "Pasuruan", "Probolinggo", "Lumajang", "Jember", "Bondowoso", "Situbondo", "Banyuwangi", "Bangkalan", "Sampang", "Pamekasan", "Sumenep", "Kalimantan Selatan", "Banjarmasin", "Barito Kuala", "Banjar", "Banjarbaru", "Tanah Laut", "Tapin", "Hulu Sungai Selatan", "Hulu Sungai Tengah", "Hulu Sungai Utara", "Tabalong", "Balangan", "Kotabaru", "Tanah Bumbu", "Kalimantan Tengah", "Palangka Raya", "Kapuas", "Barito Timur", "Barito Selatan", "Barito Utara", "Murung Raya", "Kotawaringin Barat", "Lamandau", "Sukamara", "Seruyan", "Kotawaringin Timur", "Katingan", "Gunung MAS", "Pulang Pisau", "Kalimantan Timur", "Samarinda", "Kutai Kartanegara", "Bontang", "Kutai Timur", "Kutai Barat", "Balikpapan", "Penajam Paser Utara", "Paser", "Berau", "Kalimantan Utara", "Tarakan", "Tana Tidung", "Malinau", "Bulungan (BULONGAN)", "Nunukan", "Kalimantan Barat", "Pontianak", "Kubu Raya", "Sanggau", "Sintang", "Kapuas Hulu", "Ketapang", "Kayong Utara", "Singkawang", "Sambas", "Bengkayang", "Landak", "Sekadau", "Melawi", "Bali", "Denpasar", "Badung", "Gianyar", "Bangli", "Klungkung", "Karangasem", "Buleleng", "Tabanan", "Jembrana", "Nusa Tenggara Barat (NTB)", "Mataram", "Lombok Barat", "Lombok Utara", "Lombok Tengah", "Lombok Timur", "Bima", "Dompu", "Sumbawa", "Sumbawa Barat", "Nusa Tenggara Timur (NTT)", "Kupang", "Sabu Raijua", "Timor Tengah Selatan", "Timor Tengah Utara", "Belu", "Alor", "Rote Ndao", "Sikka", "Ende", "Flores Timur", "Ngada", "Nagekeo", "Manggarai", "Manggarai Timur", "Lembata", "Manggarai Barat", "Sumba Timur", "Sumba Barat", "Sumba Barat Daya", "Sumba Tengah", "Sulawesi Selatan", "Makassar", "Gowa", "Bone", "Maros", "Pangkajene Kepulauan", "Barru", "Soppeng", "Wajo", "Parepare", "Pinrang", "Sidenreng Rappang/rapang", "Sinjai", "Enrekang", "Tana Toraja", "Toraja Utara", "Luwu Utara", "Palopo", "Luwu", "Luwu Timur", "Takalar", "Jeneponto", "Bantaeng", "Bulukumba", "Selayar (KEPULAUAN Selayar)", "Sulawesi Barat", "Polewali Mandar", "Mamuju", "Mamasa", "Majene", "Mamuju Utara", "Sulawesi Tenggara", "Kendari", "Konawe", "Konawe Utara", "Konawe Selatan", "Kolaka", "Muna", "Buton Utara", "Bau-bau", "Buton", "Bombana", "Wakatobi", "Kolaka Utara", "Sulawesi Tengah", "Palu", "Sigi", "Donggala", "Parigi Moutong", "Toli-toli", "Buol", "Poso", "Tojo Una-una", "Banggai", "Banggai Kepulauan", "Morowali", "Sulawesi Utara", "Manado", "Minahasa Selatan", "Minahasa Utara", "Minahasa", "Tomohon", "Bitung", "Kotamobagu", "Bolaang Mongondow (BOLMONG)", "Bolaang Mongondow Utara", "Bolaang Mongondow Selatan", "Bolaang Mongondow Timur", "Kepulauan Sangihe", "Kepulauan Siau Tagulandang Biaro (SITARO)", "Kepulauan Talaud", "Minahasa Tenggara", "Gorontalo", "Gorontalo", "Gorontalo Utara", "Boalemo", "Pohuwato", "Bone Bolango", "Maluku", "Ambon", "Maluku Barat Daya", "Maluku Tenggara Barat", "Maluku Tengah", "Buru Selatan", "Seram Bagian Timur", "Seram Bagian Barat", "Buru", "Maluku Tenggara", "Tual", "Kepulauan ARU", "Maluku Utara", "Ternate", "Halmahera Barat", "Halmahera Utara", "Halmahera Selatan", "Pulau Morotai", "Kepulauan Sula", "Tidore Kepulauan", "Halmahera Tengah", "Halmahera Timur", "Papua", "Biak Numfor", "Supiori", "Kepulauan Yapen (YAPEN Waropen)", "Waropen", "Mamberamo Raya", "Paniai", "Deiyai (DELIYAI)", "Intan Jaya", "Nabire", "Dogiyai", "Puncak Jaya", "Puncak", "Jayapura", "Sarmi", "Keerom", "Jayawijaya", "Mamberamo Tengah", "Lanny Jaya", "Tolikara", "Nduga", "Yahukimo", "Pegunungan Bintang", "Yalimo", "Merauke", "Boven Digoel", "Asmat", "Mappi", "Mimika", "Papua Barat", "Manokwari", "Pegunungan Arfak", "Manokwari Selatan", "Teluk Wondama", "Teluk Bintuni", "Tambrauw", "Sorong", "Sorong Selatan", "Maybrat", "Raja Ampat", "Fakfak", "Kaimana"]
	});
</script>